{% extends 'base.html' %}

    
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="d-flex justify-content-center">
            <img src="{{url.thumbnail_url}}" alt="thumbnail" class="thumb">
        </div>
            <h3 class="mt-4">
                Título: {{url.title}}
             </h3>
    
            
            <form method="POST" action="download" class="download">
                {% csrf_token %}
                <div class="col-sm-3 mt-3">
                    <select name="itag" class="form-select form-select-lg" >
                        {% for i in streams  %}
                            <option value="{{i.itag}}">{{i.resolution}}</option>
                        {% endfor %}
                        <option value="audio">Mp3</option>
                    </select>
                </div>
                <div class="mt-4">
                    <button id="download" class="btn btn-success">Download</button>
                    <a href="/" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
    </div>

{% endblock %}
