{% extends 'base.html' %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}


{% block content %}
    {% load static %}

    <div class="content container">
        <form method="POST">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">
                Ocorreu um erro, por favor insira novamente o link do vídeo ou playlist.
            </div>
            <input type="text" class="form-control mt-4" name="url" placeholder="Copie e cole aqui o link do video ou playlist.">
            <div class="form d-flex justify-content-center mt-3">
                
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" id="get-video-info" class="btn btn-info btn-block"><i class="fa-solid fa-download"></i><span> Download</span></button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}